<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin2.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/static/admin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/admin/css/font.css">
    <link rel="stylesheet" href="/static/admin/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/admin/js/xadmin.js"></script>

</head>
<body class="login-bg">

<div class="login layui-anim layui-anim-up">
    <div class="message">x-admin2.0-管理登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" action="" class="layui-form" >
        <input name="username" id="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
        <hr class="hr15">
        <input name="password" id="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
        <hr class="hr15">

        <div class="layui-row">

            <div class="layui-col-md6">
                <img src="{:url('admin/Login/verify')}" id="verify" onclick="flashVerify()">
            </div>
            <div class="layui-col-md4 layui-col-md-offset2">
                <input type="text" id="verifyValue" name="verify" placeholder="验证码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" onclick="Login()" style="width:100%;" type="submit">
        <hr class="hr20" >
    </form>
</div>

<script>
    function Login(){
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(login)', function(data){
                var index = layer.load(2, {time: 3*1000});
                var username = data.field.username;
                var password = data.field.password;
                var verify = data.field.verify;
                $.ajax({
                    url: "{:url('admin/login/login')}",
                    type: 'post',
                    data: {
                        username: username,
                        password: password,
                        verify: verify
                    },
                    success: function (res) {
                        if (res.status == 1) {
                            window.location.href = "{:url('admin/index/index')}";
                        } else {
                            layer.close(index);
                            layer.alert(res.msg, {
                                icon: 2
                            });
                            flashVerify();
                            return false;
                        }
                    }

                });
                return false;
            });
        });
    }
</script>
<script>
    function flashVerify()
    {
        $('#verify').attr('src',"{:url('admin/login/verify')}");
    }
</script>
</body>
</html>